@model YerbaterosEntitys.Models.tb_Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_TipoDoc.Descripcion_TipoDoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_TipoDoc.Descripcion_TipoDoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Usuario.Correo_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Usuario.Correo_Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodNro_Cliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
