@model IEnumerable<YerbaterosEntitys.Models.tb_Ruta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alias_Ruta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tiempo_Promedio_Ruta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanciaKm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_TerminalTerrestre.Nombre_Terminal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_TerminalTerrestre1.Nombre_Terminal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alias_Ruta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tiempo_Promedio_Ruta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanciaKm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_TerminalTerrestre.Nombre_Terminal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_TerminalTerrestre1.Nombre_Terminal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cod_Ruta }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cod_Ruta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cod_Ruta })
        </td>
    </tr>
}

</table>
