@model YerbaterosEntitys.Models.tb_Viaje

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_Viaje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Hora_Partida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Hora_Partida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Hora_Llegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Hora_Llegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Bus.Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Bus.Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_Ruta.Alias_Ruta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_Ruta.Alias_Ruta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cod_Viaje }) |
    @Html.ActionLink("Back to List", "Index")
</p>
